node_modules
package.json
package-lock.json
cypress.config.js
/cypress/support/e2e.js
/cypress/fixtures/example.json
/cypress/videos
/cypress/screenshots
/cypress/downloads
allure-report
allure-results